
.image-grid {
  display: grid;
  gap: 10px;
}

.top-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 400px; 
}

.bottom-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 300px; 
}

.image-link img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  opacity: 0.8; 
  display: block;
}
